{
    "logDirectory": "/home/deploy/logs",

    "database": {
        "host": "localhost",
        "port": "27017"
    },

    "http": {
        "port": "8080"
    },

    "version": "{{ backend_version }}"
}
