{
    "logDirectory": "/home/deploy/logs",

    {% for host in groups['db-servers'] %}
    "database": "mongodb://{{ hostvars[host]['ansible_default_ipv4']['address'] }}:27017/notes",
    {% endfor %}

    "http": {
        "port": "8080"
    },

    "version": "{{ backend_version }}"
}
