[Service]
WorkingDirectory=/home/deploy/backend-current/bin
ExecStart=start_with_pm2
ExecReload=pm2 stop all
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=node-sample
User=deploy
Group=deploy
Environment=NODE_ENV=production
 
[Install]
WantedBy=multi-user.target
