user nginx;

pid /run/nginx.pid;

events {
  worker_connections 4096;  ## Default: 1024
}

http {
  include /etc/nginx/mime.types;

  access_log /var/log/nginx/access.log;
  error_log /var/log/nginx/error.log;

  upstream backend {
  {% for host in groups['node-servers'] %}
  server {{ hostvars[host]['ansible_default_ipv4']['address'] }}:{{ node_http_port }};
  {% endfor %}
  }

  server_tokens off;
  more_clear_headers 'Server';  
  more_clear_headers 'X-Powered-By';

  gzip on;
  gzip_proxied any;

  sendfile on;

  keepalive_timeout 65;

  server {
    listen 80;
    
    location / {
      root /usr/share/nginx/html;
    }

    location /api {
      proxy_pass http://backend;
    }
  }

  server {
    listen 443 ssl spdy;
    ssl_certificate /etc/nginx/ssl/nginx.crt;
    ssl_certificate_key /etc/nginx/ssl/nginx.key;
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_prefer_server_ciphers on;
    ssl_ciphers "EECDH+ECDSA+AESGCM EECDH+aRSA+AESGCM EECDH+ECDSA+SHA384 EECDH+ECDSA+SHA256 EECDH+aRSA+SHA384 EECDH+aRSA+SHA256 EECDH+aRSA+RC4 EECDH EDH+aRSA RC4 !aNULL !eNULL !LOW !3DES !MD5 !EXP !PSK !SRP !DSS";
    
    location / {
      root /usr/share/nginx/html;
    }

    location /api {
      proxy_pass http://backend;
    }
  }

  include /etc/nginx/conf.d/*.conf;
}
